@import 'tailwindcss';
@import './root.css';
@import './fonts.css';
@import './custom.css';

html,
input,
textarea,
select,
button {
  font-family: 'Outfit', system-ui, -apple-system, BlinkMacSystemFont,
    'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
}

body {
  background-color: var(--color-background);
  color: var(--color-text-primary);
}
